*{
    box-sizing: border-box;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* navbar section style start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-top: 30px;
}

nav img{
    max-width: 182px;
    max-height: 82px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(37, 36, 50);
    font-size: 16px;
    font-weight: 700;
}

.shop-about{
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}


/* navbar section style end */
/* Banner section style start */

.banner-section{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: auto;
    margin-top: 120px;
}

.banner-title{
    color: #000000;
    font-size: 65px;
    font-weight: 700;
    width: 517px;
}

.flower{
    color: #E95A08;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    width: 570px;
}

/* banner section end */
/* card section start */

.card-section{
    max-width: 1140px;
    margin: auto;
}

.card-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.card-description{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    width: 888px;
    margin: auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;
    gap: 20px;
}

.cards{
    max-width: 270px;
    max-height: 484px;
    margin-bottom: 30px;
}

.cards img{
    width: 270px;
    height: 322px;
}

.flower-name{
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 22px;
    font-weight: 500;
}

.flower-price{
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 22px;
    font-weight: 700;
}

.card-btn{
    text-align: center;
    background: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 50px;
}

/* card section end */
/* plant lover section start */

.plant-lover-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1140px;
    max-height: 597px;
    margin: auto;
    margin-top: 211px;
    position: relative;
}

.plant-lover-section .flower-store{
    width: 540px;
    height: 595px;
}

.trusted-badge{
    position: absolute;
    width: 286px;
    height: 286px;
    top: -132px;
    right: 456px;
}

.plant-lover-title{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
}

.plant-lover-list ul li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}



/* media section for mobile */

@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
     /* navbar section start */
    nav{
        max-width: 361px;
        max-height: 38px;
        margin: auto;
        gap: 145px;
    }

    nav img{
        width: 63px;
        height: 38px;
    }
    nav ul{
        gap: 0px;
        padding: 0;
    }

    .cart{
        max-width: 113px;
        max-height: 24px;
        font-size: 16px;
    }

    /* navbar section end */
    /* banner section start */

    .banner-section{
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .banner-container{
        max-width: 361px;
        padding-left: 16px;
    }
    .banner-section img{
        width: 100%;
        margin-bottom: 28px;
    }
    .banner-title{
        width: 317px;
        font-size: 24px;
        font-weight: 700;  
    }

    .banner-description{
        font-size: 14px;
        max-width: 342px;
    }

    /* banner section end */
    /* card section start */

    .card-section{
        max-width: 100%;
    }

    .card-title{
        font-size: 24px;
        max-width: 393px;
    }

    .card-description{
        font-size: 14px;
        max-width: 336px;
        margin-bottom: 28px;
    }

    .card-container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        gap: 10px;
        padding-left: 14px;
    }

    .cards{
        width: 90%;
    }

    .cards img{
        width: 100%;
        height: 196.5px;
    }

    .flower-name{
        width: 100%;
    }

    .flower-price{
        width: 100%;
    }

    .card-btn{
       width: 100%; 
    }

    /* card section end */
    /* plant lover section start */

    .plant-lover-section{
        flex-direction: column;
        width: 361px;
        height: 648px;
        margin-top: 41px;
    }

    .plant-lover-section img{
        width: 100%;
        height: 396px;
    }

    .plant-lover-title{
        width: 90%;
        font-size: 24px;
    }
    .plant-lover-list ul li{
        width: 90%;
        font-size: 14px;
    }

    /* plant lover section end */
}